<div class="col-xs-10 col-xs-offset-1 about">
	
	<h1>About Splurty</h1>

	<p>Spluty was built by Michael Critelli. He is an aspiring web developer and is a student at <a target="blank" href="http://www.thefirehoseproject.com/">theFirehoseproject</a>.
	</p>
	<br />
	<p>
		Michael is trying his best to learn everything that he can about web development. He is also trying to learn how to desing and build mobile applications as well. 
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'Michael.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Michael Critelli</h2>
		<br />
		<p>
			Michael Critelli has a degree in marketing management and entrepreneurship and emerging enterprises. He currently is a senior project manager at PLC Trenching and is looking to make his way up the executive board.
		</p>
	<div/>
	<br class="clear" />
<p>
</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
