<h1>Optimism is the faith that leads to achievement without hope and cofidence nothing can be done.</h1>
<%= simple_form_for @quote do |f| %>
	<%= f.input :saying %>
	<%= f.input :author %>
	<br />
	<%= f.submit 'Create', :class => 'btn btn-danger' %>
<% end %>